<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarE</servlet-name>
        <servlet-class>controller.ListarE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarSalarios</servlet-name>
        <servlet-class>controller.EditarSalarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Informe</servlet-name>
        <servlet-class>controller.Informe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarE</servlet-name>
        <url-pattern>/ListarE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarSalarios</servlet-name>
        <url-pattern>/EditarSalarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Informe</servlet-name>
        <url-pattern>/Informe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
